.contactContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 60px 20px;
  background-color: #fdfcff;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-bottom: 50px;
}

.formSection {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin-right: 70px;
 
}

.formSection h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  

}

form label {
  font-size: 0.9rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #111;
}

input,
textarea {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 6px;
  resize: none;
}

textarea {
  min-height: 40px;
}

button {
  padding: 12px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
}

button:hover {
  background-color: #333;
}

.imageSection {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageSection img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
