.testimonialsWrapper {
  padding: 60px 40px;
  background-color: #fdfcff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 85%;
  display: inline-block;
  justify-content: center;
  
}

.testimonialHeader{


background-color: #f9f4ff; 
height: 77vh;
border-radius: 30px;
box-shadow: 0px -1px 14px 0px rgba(0, 0, 0, 0.5) inset;

box-shadow: -17px 0px 20px 0px rgba(255, 255, 255, 0.55) inset;

}

.testimonialCard {
  
  padding: 40px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  gap: 30px;
  margin-bottom: 50px;
}

.leftColumn {
  flex: 1;
  min-width: 250px;
  text-align: left;
  font-size: 35px;
  font-family: 'Sora', sans-serif;
  line-height: 140%;
  letter-spacing: -4%;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
 margin-right: 150px;
 margin-left: 50px;
}

.rightColumn {
  flex: 2;
  min-width: 300px;
  text-align: left;
    margin-left: 100px;
    margin-top: -90px;
}

.highlight {
  
  background: linear-gradient(180deg, #DF87FF 50%, #AE99FF 50%, #7FACFF 100%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  
  opacity: 0.5;

}


.quoteIcon {
  display: inline-block;
  transform: rotate(0deg) scaleX(-1); /* Rotate + Mirror */
   /* Adjust size as needed */
  font-weight: bold;
 
  background: linear-gradient(180deg, #DF87FF 73%, #AE99FF 50%, #7FACFF 100%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  font-size: 10rem;
  opacity: 0.5;
margin: -5px;
}


.feedback {
  font-size: 1rem;
  color: #333;
  margin: 15px 0;
}

.clientName {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
}

.clientRole {
  font-size: 0.9rem;
  color: #666;
}

.logoRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
  align-items: center;
  
}

.logoRow img {
  height: 110px;
  object-fit: contain;
  max-width: 100px;
  
}

/* Responsive */
@media (max-width: 768px) {
  .testimonialCard {
    flex-direction: column;
    text-align: center;
  }

  .leftColumn,
  .rightColumn {
    text-align: center;
  }
}









.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 120px;
  margin-left: 90px;
  margin-top: -40px;
}

.slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  display: block;
}



.controls button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #7facff;
}

.feedback {
  

   display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #333;
  width: 70%;
}

.clientName {
  font-weight: bold;
  margin-top: 10px;
}

.clientRole {
  font-size: 14px;
  color: gray;
}
