.pricingContainer {
  text-align: center;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #fdfcff;
}

.heading {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 600;
}

.highlight {
  background: linear-gradient(180deg, rgba(220, 11, 146, 0.8) 20%, rgba(146, 66, 177, 0.8) 50%, rgba(101, 99, 196, 0.8) 80%);
   background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  
 
  font-weight: bold; /* Gradient-like purple */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}

.card {
  width: 300px;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  
font-family: Syne;
font-weight: 700;
font-style: Bold;
font-size: 30px;

line-height: 90%;
letter-spacing: -4%;
text-align: center;
vertical-align: middle;

}

.subtitle{
 font-family: serif;
font-weight: 500;
font-style: Medium;
font-size: 19px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;


}

.offer {
  
font-family: Lexend;
font-weight: 600;
font-style: SemiBold;
font-size: 23px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;


}

.amit {
width: 138;
height: 44;
padding-top: 12px;
padding-right: 20px;
padding-bottom: 12px;
padding-left: 20px;
gap: 10px;
opacity: 1;
border-radius: 100px;
border-width: 1px;
}

.button:hover {
  background-color: #333;
}

/* Gradient backgrounds */
.pink {
  background: linear-gradient(180deg, #FFE9EF 0%, #F5DAF0 50%, #DCBFEA 100%);

}

.purple {
  background: linear-gradient(360deg, rgba(187, 181, 244, 0.75) 0%, rgba(219, 216, 250, 0.65) 50%, rgba(254, 254, 255, 0.3) 100%);

}

.blue {
  background: linear-gradient(180deg, #F9FDFF 0%, #CAE5F8 50%, rgba(161, 204, 246, 0.65) 100%);

}

/* Responsive Design */
@media (max-width: 960px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}




