/* .home {
  font-family: "Poppins", sans-serif;
 background: url("../../shared/image/bg.png") no-repeat center center fixed;
  min-height: 100vh;
  color: #000;
  text-align: center;
  padding: 0 20px;
  background-size: cover;
} */

  
