/* .home {
  font-family: "Poppins", sans-serif;
 background: url("../../shared/image/bg.png") no-repeat center center fixed;
  min-height: 100vh;
  color: #000;
  text-align: center;
  padding: 0 20px;
  background-size: cover;
} */

 .heroSection {
  position: relative;
 
 margin-top: 90px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Sora', sans-serif;
  color: #000;
}



.content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.title {
  font-size: 3.5rem;
  font-size: clamp(0.95rem, 2.2vw, 1.2rem);
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #111;
}

.subtitle {
  font-size: 1.2rem;
  max-width: 800px;
  padding: 0 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.cta {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.scrollIndicator {
  margin: 4rem auto 0;
  font-size: 1.5rem;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  
}







/* Mobile view */
@media screen and (max-width: 768px) {
  .heroSection {
 
 margin-top: 50px;
}

.scrollIndicator {
  margin: 4rem auto 0;
  font-size: 1.5rem;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  
}



  }
