/* .home {
  font-family: "Poppins", sans-serif;
 background: url("../../shared/image/bg.png") no-repeat center center fixed;
  min-height: 100vh;
  color: #000;
  text-align: center;
  padding: 0 20px;
  background-size: cover;
} */

 .heroSection {
  position: relative;
 
 margin-top: 90px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Sora', sans-serif;
  color: #000;
}



.content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #111;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}

.cta {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.scrollIndicator {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #333;
}
