.aboutContainer {
  font-family: "Poppins", sans-serif;
  padding: 40px 20px;
  text-align: center;
  background-color: #fdfcff;
}

/* Belief Section */
.beliefSection {
  margin-bottom: 80px;
  position: relative;
}

.beliefFaded {
  font-size: 2rem;
  color: #d3d3d3;
  font-weight: 600;
  margin-bottom: 10px;
}

.beliefText {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;

}

.highlight {
   background: linear-gradient(180deg, rgba(220, 11, 146, 0.8) 20%, rgba(146, 66, 177, 0.8) 50%, rgba(101, 99, 196, 0.8) 80%);
   background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  
 
  font-weight: bold;
}

/* Progress Bar */
.progressBar {
  width: 60%;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  margin: 40px auto 10px;
  position: relative;
}

.progressFilled {
  height: 100%;
  background: linear-gradient(180deg, rgba(220, 11, 146, 0.8) 20%, rgba(146, 66, 177, 0.8) 50%, rgba(101, 99, 196, 0.8) 80%);

  border-radius: 20px;
  transition: width 1s ease-in-out;
}

/* Dot inside the progress bar */
.progressDot {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: linear-gradient(180deg, rgba(220, 11, 146, 0.8) 20%, rgba(146, 66, 177, 0.8) 50%, rgba(101, 99, 196, 0.8) 80%);
 
  border-radius: 50%;
  transform: translateY(-50%);
  transition: left 1s ease-in-out;
  z-index: 2;
}

/* Labels */
.progressLabels {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.progressLabel {
  font-size: 1rem;
  color: #888;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  flex: 1 1 auto;
  text-align: center;
  font-family: 600;
}

.labelVisible {
  opacity: 1;
  color: #000;
}

/* Software Section */
.softwareSection {
  padding: 20px 0;
}

.softwareHeading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 140px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.iconPlaceholder {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  background-color: #eee;
  border-radius: 8px;
}












.iconDiamondGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
